# Core
numpy
pandas
scikit-learn
matplotlib
seaborn

# Computer Vision
torch
torchvision
Pillow
opencv-python
timm

# ML
xgboost
shap

# NLP
openai
sentence-transformers
faiss-cpu

# Deployment
streamlit

# Utilities
kaggle
requests
tqdm
python-dotenv
openpyxl
